.clicker {
    padding: 40%;
}

.click-box {
    text-align: center;
    margin-top: 3%;
}

#info {
	text-align: center;
}

.noselect {
	-webkit-user-select: none;
}

a {
    margin-top: 1%;
    display: block;
}

#time-counter, #click-counter {
    display: block;
}